
<div>
    <!--fb-->
    <div style="float:left; margin-top: -15px;margin-left: 7px;">
        <div id="sharefb" onclick="share_fb();" style="cursor: pointer;"><img src="{{site.baseurl}}/assets/images/social/icon-fb.png" alt="Facebook" width="32px" ></div>
    </div>
    <!--twit-->
    <div style="float:left; margin-top: -15px;margin-left: 7px;">
        <div id="sharetw" onclick="share_tw();" style="cursor: pointer;"><img src="{{site.baseurl}}/assets/images/social/icon-tw.png" alt="Twitter" width="32px" ></div>
    </div>
    <!--reddit-->
    <div style="float:left; margin-top: -15px;margin-left: 7px;">
        <div id="sharere" onclick="share_re();" style="cursor: pointer;"><img src="{{site.baseurl}}/assets/images/social/icon-rd.png" alt="Reddit" width="32px" ></div>
    </div>
    <script>
        function share_fb() {
            var window_location_encoded = encodeURI(window.location);
            var share_link = "https://www.facebook.com/sharer/sharer.php?u="+window_location_encoded;
            window.open(share_link,'_blank');
        }
        function share_tw() {
            var window_location_encoded = encodeURI(window.location);
            var share_link = "http://twitter.com/share?text='Blog from Everycoinprice'&url="+window_location_encoded+"&hashtags=#crypto,#bitcoin";
            window.open(share_link,'_blank');
        }
        function share_re() {
            var window_location_encoded = encodeURI(window.location);
            var share_link = "https://www.reddit.com/submit?url="+window_location_encoded;
            window.open(share_link,'_blank');
        }
    </script>
</div>
<!-- {{ canonical_url }} -->